@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F0EA;
    color: #798252;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331F19;
    font-size: 30px;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #331F19;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #CCD595;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

div {
    position: relative;
    border: 2px dashed #CCD595;
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.p6l {
    color: #331F19;
    font-size: 18px;
    opacity: 80%;
}

input::placeholder {
    color: #CBBBA7;
}

select {
    cursor: pointer;
    background-color: #CCD595;
    color: #331F19;
    border-radius: 5px;
    border: none;
    outline: none;
}

img {
    width: 5rem;
    border-radius: 5px;   
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #CCD595;
    color: #331F19;
    padding: 1rem;
}

td {
    color: #331F19;
    padding: 1rem;
    text-align: center;
}

tfoot td {
    background-color: #331F19;
    color: #F4F0EA;
    padding: 1rem;
    text-align: center;
}

details {
    background-color: #CCD595;
    border-radius: 5px;
    padding: 1rem;
}

summary {
    color: #331F19;
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 2rem;
}

ol li {
    padding: 0.2rem;
    color: #331F19;
}

fieldset {
    border: 2px solid #CCD595;
    border-radius: 5px;
    padding: 1rem;
}

fieldset legend {
    color: #331F19;
    padding: 0 0.5rem;
}

textarea {
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCD595;
    background-color: transparent;
}

button{
    background-color: #CCD595;
    color: #331F19;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #331F19;
    padding: 2rem;
    text-align: center;
}

.p-footer {
    color: #F4F0EA;
}

.p-footer a {
    text-decoration: none;
    color: #CCD595;
}

.p1 {
    border-bottom: dashed 2px #331F19;
    width: 40%;
    padding: 0.5rem;
}