@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F0EA;
    color: #798252;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    background-color: #331F19;
    padding: 2rem;
    text-align: center;
    font-size: 30px;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #331F19;
    font-size: 1.3rem;
}

.ul1 {
    margin-left: 2rem;
}

.li1 {
    padding: 0.4rem;
}

img {
    border-radius: 10px;
    width: 20rem;
    border: solid #798252;
    margin-top: 1rem;
    padding: 0.2rem;
}

.academia {
    width: 18.3rem;
    margin-left: 3rem;
}

.ul2 {
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color:#331F19;
    font-weight: bold;
}

abbr {
    text-decoration: none;
    color: #656f36;
    font-weight: bold;
}

.p1 {
    border-bottom: dashed 2px #798252;
    padding: 0.5rem;
    width: 40%;
}

.p2 {
    border-bottom: dashed 2px #798252;
    padding: 0.5rem;
    width: 40%;
}

footer {
    background-color: #331F19;
    text-align: center;
    padding: 1rem;
    color: #F4F0EA;
}

footer p {
    padding: 0.3rem;
}
